# Object files and dependencies
*.o
.deps/
src/wikiassoc

# Vim temporaries
.*.swp
.*.swo

# Autotools-generated
*~
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
config.h
config.h.in
config.guess
config.log
config.status
config.sub
configure
depcomp
install-sh
man/Makefile
man/Makefile.in
missing
src/Makefile
src/Makefile.in
stamp-h1
